.Cell {
  background-color: lightskyblue;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  margin: 5px;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  cursor: pointer;
  user-select: none;
  /*transition: all 0.1s ease-in-out;*/
}

.Cell:hover {
  background-color: #7fc4f0;
}

.Cell.empty {
  opacity: 0;
  cursor: default;
  /*background-color: cornflowerblue;*/
  /*box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.2);*/
}